* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header img {
   
    width: 150px;
    height: 80px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
/* Permalink - use to edit and share this gradient. Enlace permanente - úsalo para editar y compartir este gradiente: https://colorzilla.com/gradient-editor/#003b60+1,003a5e+75,07334f+100 */
background: linear-gradient(to bottom,  #003b60 1%,#003a5e 75%,#07334f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

nav ul li {
    margin: 5px 25px;
}

 nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  
}

 nav ul li a:hover {
    text-decoration: underline;
    color: #fff;
    padding: 5px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem 1rem;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 1rem;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: auto;
    display: block;
}

.product h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #000;
}

.product p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 1rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
     
  }
  